* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgba(0,0,0,1);
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

footer {
  background-color: rgba(0,0,0,1) !important;
  color: #eee !important;
  font-family: Helvetica, Arial !important;
  font-size: calc(10px + 2vmin) !important;
  border-top: 2px solid #eee !important;
  padding: 2vw !important;
  max-width: 100% !important;
}

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 150px;
}

.App-header {
  background-color: rgba(0,0,0,1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.smSpotifyLogo {
  width: 17vw;
}

.lgSpotifyLogo {
  width: 22vw;
}

textarea {
  height: 40vw !important;
  width: 40vw !important;
  font-size: 2vw !important;
  vertical-align:text-top !important;
  margin-right: 5vw !important; 
}

input {
  width: 40vw !important;
  font-size: 2vw !important;
  vertical-align:text-top !important;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: transparent !important;
  border-radius: 2em !important;
  border: 0.2em solid rgb(0,196,85) !important;
  color: rgb(0,196,85) !important;
  cursor: pointer !important;
  font-size: 3vmin !important;
  padding: 1em 1.5em !important;
  text-transform: uppercase !important;
  transition: all 0.25s ease !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  min-height: 50px !important;
  outline: none;
}

.btn:hover .audio-control-icon,
.btn:active .audio-control-icon {
  fill: black;
}

.btn-non-controls {
  background-color: transparent !important;
  border-radius: 2em !important;
  border: 0.2em solid rgb(0,196,85) !important;
  color: rgb(0,196,85) !important;
  cursor: pointer !important;
  font-size: 3vmin !important;
  text-transform: uppercase !important;
  transition: all 0.25s ease !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  min-height: 50px !important;
  margin: 1em 1em !important;
}

.btn-sm {
  font-size: 2vmin !important;
  margin: 0 !important;
}

.btn:hover {
  background: rgb(0,196,85) !important;
  color: rgba(0,0,0,0.8) !important;
  font-weight: 700 !important;
}

.favoriteBtnDiv {
  padding: 2vw;
  padding-right: 5vw;
}

.favoriteBtn {
  width: 8vw;
  cursor: pointer;
}

.cocktailPairingDiv {
  position: relative;
  padding: 5vw 0 0 20vw;
  width: 47vw;
  float: left;
  text-align: center;
}

#curCocktailDivGroup {
  width: 100% !important;
}

#navlink-login-btn {
  display: table-cell !important;
  vertical-align:middle !important;
  height: 50px !important;
  width: 218px !important;
}

#navlink-login-btn:hover {
  background: rgb(0,196,85) !important;
  color: rgba(0,0,0,0.8) !important;
  font-weight: 700 !important;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
  font-size: 0.7em;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

/** Player CSS **/
/** Now Playing **/
.now-playing {
  max-width: 500px;
}

.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.now-playing__device-select {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}
.now-playing__device-select select {
  width: 35vw;
  cursor: pointer;
}

.now-playing__status {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}

.now-playing__img img {
  min-width: 20vmin;
  max-width: 80vmin;
  width: 100%;
}

.now-playing__side {
  margin-left: 5%;
  width: 45%;
}

/** Progress Bar **/

.progress {
  border: 1px solid #eee;
  height: 6px;
  width: 35vw;
  /* margin: 0; */
  margin-left: 0.5vw;
  border-radius: 3px;
  overflow: hidden;
}

.progress__bar {  
  background-color: rgba(0,0,0,0.8);
  height: 16px;
  margin: 0;
}


/** Navbar Styling **/

NavbarBrand {
  vertical-align: bottom;
}

#artist-search {
  min-width: 34vh !important;
  display: inline !important;
}

.search-form {
  display: inline !important;
}

#search-submit {
  width: 100%;
}

/** Text box styling **/

.normal-text {
  max-width: 575px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin: 7vh !important;
}


/** Cocktail styling **/

.cocktail__img {
  float: right;
  margin-left: 10px;
  text-align: left;
  width: 45%;
}

.cocktail__img img {
  min-width: 20vmin;
  max-width: 80vmin;
  width: 100%;
}

.cocktail__directions {
  white-space: pre-wrap !important;
  margin-bottom: 0.2em;
}

.cocktail__side {
  margin-left: 5%;
  width: 45%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/** Cocktail Admin Panel **/

#js {
  position: fixed;
  left: 0;
  top: 0;
  width: 5px;
  height: 5px;
  background-color: rgba(248,249,250,1);
  border: none;
}

#spotify-link {
  background:none!important;
  color:rgb(0,196,85) !important;
}

.nav-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  flex-wrap: nowrap !important;
}

/** Media Queries **/

@media (max-width: 865px) {
  .btn-non-controls {
    font-size: calc(12px + 0.25vw) !important;
  }

  #artist-search {
    min-width: auto !important;
    display: inline !important;
    font-size: calc(8px + 0.25vw) !important;
  }

  #submit-btn {
    font-size: 15px !important;
    text-align: center;
    justify-self: auto;
  
  }
  #search-form-group {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .nav-btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}